.header__hamburg-btn{
    display: none;
    width: 100px;
    border: none;
    background-color: #1B2330FF;
    color: #fff;
}

.header .container{
    display: flex;
   justify-content: space-between;
}

.hero__text{
    width: 734px;
    text-align: center;
    margin-left: 250px;
    font-size: 40px;
    color: #fff;
}